# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
venv/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Other system files
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary Python files
*.~*

# Cache and temporary files
*.cache
*.tmp
*.bak
*.swp
*.swo

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
*.coverage.*

# MyPy type checker cache
.mypy_cache/

# Bandit security tool reports
.bandit
